<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Medicos</h4>
				<h6 class="card-subtitle">Organice sus horarios de una forma muy intuitiva</h6>
				<ngb-carousel>
					<ng-template ngbSlide>
						<img src="assets/images/big/portada1.jpg" alt="Random first slide" class="img-fluid">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">First slide label</h4>
							<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/big/doctorcelular.jpg" alt="Random second slide" class="img-fluid">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Second slide label</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</ng-template>
					<!-- <ng-template ngbSlide>
						<img src="assets/images/big/img3.jpg" alt="Random third slide class="img-fluid"">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Third slide label</h4>
							<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
						</div>
					</ng-template> -->
				</ngb-carousel>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Administrativos</h4>
				<h6 class="card-subtitle">Con Guardian, simplifique su trabajo y aumente su productividad</h6>
				<ngb-carousel>
					<ng-template ngbSlide>
						<img src="assets/images/big/administrativeworking.jpg" alt="Random first slide" class="img-fluid">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">First slide label</h4>
							<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/big/secretaria.jpg" alt="Random second slide" class="img-fluid">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Second slide label</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</ng-template>
					<!-- <ng-template ngbSlide>
						<img src="assets/images/big/img3.jpg" alt="Random third slide class="img-fluid"">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Third slide label</h4>
							<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
						</div>
					</ng-template> -->
				</ngb-carousel>
			</div>
		</div>
	</div>

</div>