
<div class="row align-items-center mx-auto mt-3">
	<div class="col-md-6">
        <img src="assets/images/succes_fondo.png" alt="Random second slide">
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title text-success">Suscripcion realizada con exito!</h1>
                <hr class="bg-success">
                <h3>Sus credenciales de ingreso seran enviadas a su correo</h3>
                <hr class="bg-success">
				<h3>Institucion:  </h3>
                <hr>
                <p>Nombre: {{suscription.institucion}} </p>
                <hr>
                <h3>Administrador:</h3>
                <hr>
                <p>Email: {{suscription.email}}</p>
                <p>Nombre: {{suscription.nombre}}</p>
                <p>Apellido: {{suscription.apellido}}</p>
                <p>Telefono {{suscription.telefono}}</p>
                <hr>
			</div>
		</div>
	</div>

</div>