<div class="card-body">
<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nombre">Nombre: </label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese un nombre" [(ngModel)]="form.nombre">
    </div>
    <div class="form-group">
        <label for="certificacion">Certificacion: </label>
        <input type="text" class="form-control" id="certificacion" name="certificacion" placeholder="Ingrese una certificacion" [(ngModel)]="form.certificacion">
    </div>
    <br>
    <button class="btn btn-primary" >Aceptar</button>
</form>
</div>
