<div class="container p-3">
    <div class="card responsive-x1" style="opacity: 0.85;">
        <div class="card-header">
            <h2 *ngIf="isLocal==true" class="text-dark">Guardias - {{servicio.Local.Ubicacion.descripcion }} - {{servicio.Local.Edificio.nombre}}</h2>
            <h2 *ngIf="isLocal==false" class="text-dark">Guardias - {{servicio.Domicilio.Zona.localidad }} - {{servicio.Domicilio.Zona.departamento}}</h2>
        </div>
        <div class="card-body">
            <div class="row pt-3">
                <div class="col-9" id="pad">
                    <!-- <a href="/guardiasabm" class="btn btn-primary"> Nueva Guardia</a> -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#altaModal">
                        Alta <i class="bi bi-journal-medical"></i>
                      </button>
                </div>
                <div class="col-3">
                    <form>
                        <div class="form-group form-inline">
                            <input class="form-control ml-2" type="text" placeholder="Buscar" (keyup)="busqueda($event)"/>
                        </div>
                    </form>
                </div>

            </div>

            <div class="row pt-3">
                <div class="table-responsive-xl w-100">
                    <table class="table table-bordered table-light">
                        <thead class="table-primary">
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">Fecha Inicio</th>
                          <th scope="col">Fecha final</th>
                          <th scope="col">Duracion</th>
                          <th scope="col">Metodo de asignacion</th>
                          <th scope="col">Publicada</th>
                          <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let guardia of guardias">
                            <td>{{guardia.id}}</td>
                            <td>{{guardia.descripcion}}</td>
                            <td>{{guardia.fechainicio | date:'dd/MM/yyyy - HH:mm'}}</td>
                            <td>{{guardia.fechafin | date:'dd/MM/yyyy - HH:mm'}}</td>
                            <td>{{guardia.duracion}} hs</td>
                            <td>{{guardia.met_asignacion}}</td>
                            <td>{{guardia.estado}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-icon btn-success mx-1" *ngIf="guardia.estado=='PUBLICADA'" (click)="asignarMedicosGuardia(guardia.id)"><i class="bi bi-person-plus-fill"></i></button>
                                    <button class="btn btn-icon btn-success mx-1" (click)="publicarGuardia(guardia.id)" *ngIf="guardia.estado=='PENDIENTE'"><i class="bi bi-arrow-up-circle"></i></button>
                                    <button class="btn btn-icon btn-danger" (click)="eliminarGuardia(guardia.id)" routerLinkActive="active"><i class="bi bi-trash-fill"></i></button>
                                    <button class="btn btn-icon btn-warning mx-1" ><i class="bi bi-pencil-square"></i></button>
                                    <a href="/component/panel" class="btn btn-icon btn-primary mx-1" ><i class="bi bi-calendar-check-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination  [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refresh()">
                    </ngb-pagination>
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="4">4</option>
                    <option [ngValue]="6">6</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="altaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Alta guardia</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-guardia-abm  *ngIf="servicio"  [servicio]=servicio></app-guardia-abm>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="getGuardiasServicio()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
