<!--<div class="top">
    <button class="btn btn-icon btn-primary" (click)="pagar()" routerLinkActive="active">Suscribirse
    </button>
</div>-->

<div class="modal-body row">
    <div class="col-md-6">
        <div class="card-body">
         <h1>Suscripcion <span class="label label-primary"><img src="assets/images/Logo_izq.png"/><img src="assets/images/LogoHD3.png"/></span></h1>
            <form #f="ngForm">
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-2 text-info">Institucion a registrar</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <label for="nick">Nombre:</label><br>
                        <input  type="text"  class="form-control mt-1" id="institucion" name="institucion" placeholder="Ingrese un nombre" [(ngModel)]="form.institucion">
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mt-3 mb-2 text-info">Administrador</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="email">Email </label>
                            <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Ingrese un email" [(ngModel)]="form.email">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="nombre">Nombre </label>
                            <input type="text" class="form-control mt-1" id="nombre" name="nombre" placeholder="Ingrese un nombre" [(ngModel)]="form.nombre">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="telefono">Apellido</label>
                            <input type="text" class="form-control mt-1" id="apellido" name="apellido" placeholder="Ingrese un apellido" [(ngModel)]="form.apellido">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" class="form-control mt-1" id="telefono" name="telefono" placeholder="Ingrese un telefono" [(ngModel)]="form.telefono">
                        </div>
                    </div>
                </div>
                <ngx-spinner></ngx-spinner>
              <br>
            </form>
            <div #paypal></div>
        </div>
    </div>
    <div class="col-md-6  imagen">
      <!-- Your second column here -->
    </div>
</div>


<div class="top">
    
</div>
