    <header class="pb-3 mb-4 border-bottom mt-4">
      <div class="row">
        <div class="col-9">
          <a class="d-flex align-items-center text-dark text-decoration-none">
            <h3 class="fs-4">Asignacion de guardias</h3>
          </a>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-outline-success" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Cupos actuales
          </button>
        </div>
      </div>
    </header>
    
 
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card">
        <div class="card-body">
          You can collapse this card by clicking Toggle Button. This is example from ItSolutionStuff.com.
        </div>
      </div>
    </div>
      

    <div class="row align-items-md-stretch mb-4">

      <div class="col-xl-2 mt-2">
        
        <table class="table table-bordered table-light h-100">
          <thead class="table-primary">
          <tr>
            <th scope="col">Especialidad</th>
            <th scope="col">Restantes</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let esp of cuposFaltantes" >
              <td>
                  {{esp.nombre_especialidad}}
              </td>
              <td>
                {{esp.restantes}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2 mt-2 ">
        <table id="especialidad" class="table table-bordered bg-light h-100">
          <thead class="table-primary">
          <tr>
            <th scope="col">Medicos</th>
            <th scope="col">Especialidad</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicospostulados" >
              <td>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="medico.seleccionado" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                          {{medico.Usuario.nombre}}&nbsp;{{medico.Usuario.apellido}}
                      </label>
                  </div>
              </td>
              <td>
                {{medico.Especialidad.nombre}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2 text-center align-self-center mt-2">
        <div class="row">
          <table class="table table-bordered bg-light h-100">
            <tr>
              <th scope="col">Tipo</th>
              <td >{{ servicio?.Local?.TipoServicio?.nombre ?? (!servicio?.Domicilio ? servicio?.Domicilio :"DOMICILIO") ?? 'Seleccione una guardia'}} </td>
            </tr>
            <tr>
              <th scope="col">Ubicacion</th>
              <td >{{servicio?.Domicilio?.Zona?.localidad ?? servicio?.Local?.Ubicacion?.descripcion ?? 'Seleccione una guardia'}} </td>
            </tr>
            <tr>
              <th scope="col">Guardia</th>
              <td >{{guardia?.id ?? 'Seleccione una guardia'}} </td>
            </tr>
            <tr>
              <th scope="col">Inicio</th>
              <td >{{(guardia?.fechainicio | date:'dd/MM/yyyy hh:mm') ?? 'Seleccione una guardia'}} </td>
            </tr>
            <tr>
              <th scope="col">Fin</th>
              <td >{{(guardia?.fechafin | date:'dd/MM/yyyy hh:mm') ?? 'Seleccione una guardia'}} </td>
            </tr>
            <tr>
              <th scope="col">Estado</th>
              <td >{{guardia?.estado ?? 'Seleccione una guardia'}} </td>
            </tr>
            <tr>
              <th scope="col">Met. Asig.</th>
              <td >{{guardia?.met_asignacion ?? 'Seleccione una guardia'}} </td>
            </tr>
            <tr>
              <th scope="col">Duracion</th>
              <td >{{guardia?.duracion ?? 'Seleccione una guardia'}} hs</td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="table table-bordered bg-light h-100">
            <tr>
              <td><button class="btn btn-lg btn-success " (click)="open(mymodal)">AGREGAR</button></td>
              <td> <button class="btn btn-lg btn-danger " (click)="cerrarGuardia()">CERRAR</button></td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="col-xl-6 mt-2">
        <div class="row justify-content-md-center">
          <div class="col-md-4 text-center">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-sm-4">
            <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()">
                Anterior
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Hoy
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()">
                Siguiente
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="btn-group float-right">
              <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                   [class.active]="view === CalendarView.Month">
                Mes
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                   [class.active]="view === CalendarView.Week">
                Semana
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                   [class.active]="view === CalendarView.Day">
                Dia
              </div>
            </div>
          </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                                 [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                                 (eventClicked)="selectedGuardia( $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                               [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                               (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
      </div>

    </div>


    <div class="p-5 mb-4 w-100 rounded-3">
      <table class="table table-bordered bg-light h-100">
        <thead class="table-primary">
        <tr>
          <th scope="col">Medicos asignados</th>
          <th scope="col">Liberacion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medico of medicosasignados">
          <td>{{medico.Usuario.nombre}}&nbsp;{{medico.Usuario.apellido}} <button class="btn btn-outline-danger align-self-end" (click)="quitarAsignMedico(medico.id)"><i class="bi bi-person-dash-fill"></i></button></td>
          <td><i class="bi bi-bell" *ngIf="medico.GuardiaMedico.estado==='LIBERACION'"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar asignacion de medicos</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered h-100">
          <thead class="table-primary">
          <tr>
            <th scope="col">Medicos asignados</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let medico of medicospostulados">
            <td *ngIf="medico.seleccionado">{{medico.Usuario.nombre}}&nbsp;{{medico.Usuario.apellido}}  </td>
          </tr>
          </tbody>
        </table>
        <h3 *ngIf="selectedguardia">{{selectedguardia.title}}</h3>
        <button type="button" class="btn btn-outline-success me-3" (click)=" modal.close(agregarMedicosGuardia())">Confirmar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cancelar</button>
      </div>
    </ng-template>
  