
<div class="card-body">
<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Ingreseel email" [(ngModel)]="form.email">
    </div>
    <div class="form-group">
        <label for="nombre">Nombre </label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre" [(ngModel)]="form.nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido </label>
        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese el apellido" [(ngModel)]="form.apellido">
    </div>
    <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el telefono" [(ngModel)]="form.telefono">
    </div>
    <br>
    <button class="btn btn-primary" >Aceptar</button>
</form>
</div>
