<div class="container p-3">
    <div class="card responsive-x1" style="opacity: 0.85;">
      <div class="card-header">
        <h2 class="text-dark">Medicos</h2>
      </div>
      <div class="card-body">
        <div class="row pt-3">
          <div class="col-9" id="pad">
              <!-- <a class="btn btn-primary" href="/medicosabm"> Alta <i class="bi bi-person-plus-fill"></i> </a> -->
              <button *ngIf="tipo=='ADMIN'" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#altaModal">
                Alta <i class="bi bi-person-plus-fill"></i>
              </button>
              <button *ngIf="tipo=='ADMIN'" type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Alta masiva <i class="bi bi-people-fill"></i>
              </button>
          </div>
          <div class="col-3">
              <form>
                <div class="form-group float-right">
                  <input class="form-control ml-2" type="text" placeholder="Buscar" (keyup)="busqueda($event)"/>
                </div>
              </form>
          </div>
        </div>
        <div class="row pt-3">
          <div class="table-responsive-xl w-100">
            <table class="table table-bordered table-light">
              <thead class="table-primary">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Fecha de nacimiento</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Direccion</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medico of medicos">
                  <td><ngb-highlight [result]="medico.id" [term]="filter.value"></ngb-highlight></td>
                  <td><ngb-highlight [result]="medico.fecha_nac | date:'dd/MM/yyyy'" [term]="filter.value"></ngb-highlight></td>
                  <td><ngb-highlight [result]="medico.Usuario.email" [term]="filter.value"></ngb-highlight></td>
                  <td><input type="text" class="form-control" [ngClass]="{'asd': !medico.editable}" id="telefono" [disabled]="!medico.editable" (keyup.enter)="onEnter($event)" (blur)="actualizarMedico(medico)" [(ngModel)]="medico.Usuario.telefono"></td>
                  <td><input type="text" class="form-control" [ngClass]="{'asd': !medico.editable}" id="nombre" [disabled]="!medico.editable" (keyup.enter)="onEnter($event)" (blur)="actualizarMedico(medico)" [(ngModel)]="medico.Usuario.nombre"></td>
                  <td><input type="text" class="form-control" [ngClass]="{'asd': !medico.editable}" id="apellido" [disabled]="!medico.editable" (keyup.enter)="onEnter($event)" (blur)="actualizarMedico(medico)" [(ngModel)]="medico.Usuario.apellido"></td>
                  <td><input type="text" class="form-control" [ngClass]="{'asd': !medico.editable}" id="direccion" [disabled]="!medico.editable" (keyup.enter)="onEnter($event)" (blur)="actualizarMedico(medico)" [(ngModel)]="medico.direccion"></td>
  
                  <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-icon btn-primary mx-1" (click)="perfil(medico.id)" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="Perfil de usuario"><i class="bi bi-person-circle"></i></button>
                        <button *ngIf="tipo=='ADMIN'"  class="btn btn-icon btn-danger mx-1"  routerLinkActive="active"><i class="bi bi-person-dash-fill"></i></button>
                        <button *ngIf="tipo=='ADMIN'"  class="btn btn-icon btn-warning mx-1" routerLinkActive="active" (click)="editOn(medico)"><i class="bi bi-pencil-square"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refresh()">
          </ngb-pagination>
  
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
            <option [ngValue]="2">2</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="6">6</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alta masiva</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-medico-alta-masiva></app-medico-alta-masiva>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getMedicos()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="altaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Alta medico</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-medico-abm></app-medico-abm>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getMedicos()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
  