
<div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="duracion">Duracion: </label>
            <input type="number" max=8 min=1 class="form-control mt-1" id="duracion" name="duracion"
                placeholder="Ingrese la duracion" [(ngModel)]="form.duracion">
        </div>
        <div class="form-group">
            <label for="frecuencia">Frecuencia</label>
            <select [(ngModel)]="form.frecuencia" name="asignacion" id="frecuencia" required class="custom-select mt-1"
                    aria-label="Default select example" >
                <option>DIARIO</option>
                <option>SEMANAL</option>
                <option>MENSUAL</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cant_medicos">Medicos necesarios:</label>
            <div class="table-wraper" id="cant_medicos">
                <table class="table table-bordered w-50">
                    <thead>
                        <tr>
                            <th>Especialidad</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let esp of especialidades">
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="esp.seleccionada" name="seleccionada" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{esp.nombre}}
                                    </label>
                                </div>
                            </td>
                            <td><input type="number" [(ngModel)]="esp.cantidad" name="cantidad"  class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label for="zona">Zona:</label>
            <select [(ngModel)]="form.idzona" name="zona" id="zona" required class="custom-select mt-1"
                aria-label="Default select example">
                <option *ngFor="let zona of zonas" [value]="zona.id">
                    {{zona.departamento}} {{zona.localidad}}
                </option>
            </select>
        </div>
        <br>
        <button class="btn btn-primary">Aceptar</button>
    </form>
</div>